.product_description{
    display: flex;
    margin-top: 2rem;
    padding: 0 .5rem;
    gap: 1rem;
}

.preview_products{
    width: 65%;
}

.product_features{
    width: 35%;
}

.product_features{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.key_features{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--white);
    border-radius: 5px;
    padding: 1rem;
}

.primary_features{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.secondary_features{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.secondary_features h5{
    background: var(--background);
    padding: .2rem .5rem;
}

.contact_for_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact_for_product span{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--button-bg);
    color: var(--white);
    font-size: xx-large;
    border-radius: 5px;
    cursor: pointer;
    padding: .1rem 0;
}

.other_features{
    background: var(--white);
    border-radius: 5px;
    padding: 1rem;
}

.other_features h2{
    margin-bottom: 1rem;
    text-align: center;
}

.feature_details{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 3rem;
}

.feature_details p{
    width: 70px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.feature_details p span:nth-child(1){
    color: var(--grey);
    /* font-weight: bold; */
}

.preview_header{
    width: 100%;
}

.preview_wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.preview{
    flex-grow: 0;
    width: 50px;
    aspect-ratio: 1;
}

@media screen and (max-width: 1000px) {
    .preview_products{
        width: 60%;
    }
    
    .product_features{
        width: 40%;
    }

    .primary_features h1{
        font-size: larger;
    }

    .primary_features h2{
        font-size: large;
    }

    .primary_features h3{
        font-size: medium;
    }

    .contact_for_product span{
        font-size: large;
    }
}

@media screen and (max-width: 768px) {
    .product_description{
        flex-direction: column;
    }

    .preview_products{
        width: 100%;
    }
    
    .product_features{
        width: 100%;
    }
}