.key_features{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--white);
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
}

.primary_features{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.secondary_features{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.secondary_features h5{
    background: var(--background);
    padding: .2rem .5rem;
}

.contact_for_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact_buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: xx-large;
}

@media screen and (max-width: 1000px) {
    .primary_features h1{
        font-size: larger;
    }

    .primary_features h2{
        font-size: large;
    }

    .primary_features h3{
        font-size: medium;
    }

    .contact_buttons{
        font-size: large;
    }
}

@media screen and (max-width: 768px) {
    .contact_buttons{
        padding: .5rem;
    }
}